{
		"discordjsLocation" : "/path/to/discord.js",
		"loginMessage" : "Hello, everyone!",
		"gamePlaying" : 355,
		"aiEnabled" : false,
		"botid" : "9437b936fe3787aa",
		"aiRandomReply" : false,
		"aiIsolated" : ""
}